<link rel="stylesheet" href="/stylesheets/partials.css" />
<nav>
    <% if (user) { %>
    <div class="navbar">
        <div class="nav-main">
            <h1 id="nav-header"><a href="/">Backlog</a></h1>
            <a class="link" href="/games">Browse Popular Games</a>
        </div>
        <div class="nav-links">
            <a class="link" href="/users">Explore Our Community</a>
            <a class="link" href="/users/<%= user._id %>">Your Collection</a>
            <p class="user"><%= user.displayName ? user.displayName : user.username %></p>
            <a class="link" href="/auth/sign-out">Sign Out</a>
        </div>
    </div>
    <% } else { %>
    <div class="navbar">
        <div class="nav-main">
            <h1 id="nav-header"><a class="home" href="/">Backlog</a></h1>
            <a class="link" href="/games">Browse Popular Games</a>
        </div>
        <div class="nav-links">
            <a class="link" href="/auth/sign-in">Sign In</a>
            <a class="link" href="/auth/sign-up">Sign Up</a>
        </div>
        <% }; %>
</nav>