@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #242830;
    color: #dcdedf;
}

.index-body {
    background-image: url(https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds_181624-11068.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    color: white;
}

.main-header {
    font-weight: bold;
    color: white;
    font-size: 5.6em;
    margin: -160px 20px 0 20px;
}

.subheader {
    margin: 0 20px 0 20px;
    font-size: 1.4em;
}

.index-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.auth-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 80px 0 0;
    height: 100%;
    cursor: pointer;
}

.signup-link,
.signin-link {
    text-decoration: none;
    font-size: 1.5em;
    padding: 8px 0;
    border-radius: 25px;
    width: 10em;
    text-align: center;
    cursor: pointer;
}

.signup-link {
    background-color: #1a9fff;
    color: white;
    margin: 0 0 20px 0;
    cursor: pointer;
}

.signup-link:hover {
    background-color: #51b5fc;
    cursor: pointer;
}

.signin-link {
    background-color: #deedf8;
    color: #1c2e5b;
    margin: 20px 0 0 0;
}

.signin-link:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.signin-container,
.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    color: #83c8fa;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20em;
    height: 50%;
    background-color: #deedf8;
    padding: 30px 40px 20px 40px;
    border-radius: 20px;
    color: #4b598e;
    font-weight: bold;
}

input {
    border: 1px solid rgb(182, 182, 182);
    padding: 8px;
    border-radius: 10px;
}

button {
    padding: 10px;
    background-color: #1a9fff;
    color: white;
    border-radius: 30px;
    border: none;
    margin: 15px 0;
    font-size: 1.1em;
    cursor: pointer;
}

.search>form {
    background-color: #deedf8;
    padding: 30px 40px 20px 40px;
    border-radius: 20px;
    color: #4b598e;
    font-weight: bold;
}

.all-games-body,
.all-users-body,
.user-body,
.search-results-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all-games-header,
.all-users-header,
.user-header,
.search-results-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 90%;
}

.add-game-link {
    padding: 10px;
    background-color: #1a9fff;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 1.1em;
    padding: 2px 25px;
    text-decoration: none;
}

.add-game-link:hover {
    background-color: #51b5fc;
    cursor: pointer;
}

#back {
    color: #1a9fff;
    text-decoration: none;
}

#back:hover {
    color: #51b5fc;
    cursor: pointer;
}

ul,
.user-body>a {
    list-style: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul>a,
.user-body>a {
    text-decoration: none;
    color: #1c2e5b;
    width: 50%;
    background-color: #f6e7e7;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 15px 0px;
    font-weight: bold;
    text-align: center;
}

ul>a:hover,
.user-body>a:hover {
    background-color: #4b598e;
    color: white;
    cursor: pointer;
}