<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Browse Games</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <div class="all-games-body">
        <div class="all-games-header">
            <h1>Browse games added by our users</h1>
            <% if (user) { %>
            <a class="add-game-link" href="/games/search">Add a new game</a>
            <% }; %>
        </div>
        <ul>
            <% games.forEach(game => { %>
            <a href="/games/<%= game._id %>">
                <li><%= game.name %></li>
            </a>
            <% }); %>
        </ul>
    </div>
</body>

</html>