<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Games</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1>Browse games added by our users</h1>
    <ul>
        <% games.forEach(game => { %>
        <li><a href="/games/<%= game.id %>"><%= game.name %></a></li>
        <% }); %>
    </ul>
</body>

</html>