<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Search</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <div class="search-container">
        <h1>Search for a game</h1>
        <form action="/games/search-results" method="post" id="search-bar">

            <label for="name">Game Name:</label>
            <div id="search-input">
                <input type="text" name="name" id="name" />

                <button type="submit">Search</button>
            </div>
        </form>
    </div>
</body>

</html>