<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Users</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <div class="all-users-body">
        <div class="all-users-header">
            <h1>Users</h1>
        </div>
        <ul>
            <% users.forEach(user => { %>
            <a href="/users/<%= user.id %>">
                <li><%= user.username %></li>
            </a>
            <% }); %>
        </ul>
    </div>
</body>

</html>